@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --light-paragraph: #ffffff;
  --dark-paragraph: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eff2f7;
  font-family: "Poppins", sans-serif;
  color: #36393b;
}

h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

p {
  color: var(--dark-paragraph);
}

/* Topbar */

.topbar {
  padding: 1rem 2rem;
  background: #545cd8;
}

.logo {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 290px 1fr;
}

/* Left Sidebar */

.left-sidebar {
  background: #252b41;
  min-height: 100% !important;
  color: var(--light-paragraph);
  padding: 2rem;
}

.left-sidebar ul {
  margin-top: 2rem;
}

.left-sidebar ul li {
  margin: 1rem 0;
  font-size: 0.9rem;
}

.world-logo {
  text-align: center;
  margin-bottom: 1.6rem;
}

.world-logo img {
  width: 80px;
}

.world-data-details {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.3rem;
  cursor: default;
}

.world-data-details i {
  font-size: 1.5rem;
}

.world-data-details p {
  font-weight: 500;
  color: #ececec;
}

.world-data-details span {
  color: #ececec;
}

/* Right sidebar */

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  margin-top: -6rem;
}

.right-sidebar {
  width: 100%;
  height: 100vh;
  background: #eff2f7;
}

.top-right-sidebar {
  width: 100%;
  height: 200px;
  background: #545cd8;
}

/* Line graph */

.line-graph {
  position: relative;
  width: 58%;
  height: 310px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.app-graph {
  padding: 1rem;
  width: 100%;
  height: 100%;
}

/* Infobox Stats */

.app-stats {
  width: 38%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.infoBox {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1rem;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoBox:hover {
  transform: translateY(-5px);
}

.infoBox h6 {
  font-weight: 500;
  font-size: 0.95rem;
}

.infoBox-top {
  display: flex;
  justify-content: space-between;
}

.infoBox-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #545cd8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.infoBox-icon img {
  width: 70%;
}

.infoBox h3 {
  font-size: 1.4rem;
}

.infoBox h3 span {
  font-size: 13px;
  font-weight: 500;
}

.map {
  width: 64%;
  height: 400px;
  background: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.map .leaflet-container {
  height: 100%;
}

.info-flag img {
  width: 80px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-top: 5px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-cases,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}

.info-container {
  width: 150px;
}

/* Table */

.table-wrapper {
  width: 64%;
  background: #fff;
  padding: 2rem;
  margin-top: -7.5rem;
}

.table-wrapper h5 {
  margin-bottom: 1.5rem;
}

.table {
  width: 100%;
  background: #fff;
  overflow: scroll;
  height: 450px;
  overflow-x: hidden;
  text-align: left;
  padding-right: 1rem;
}

.table tr {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
  /* background: #f3f2f8; */
}

.table-country img {
  width: 40px;
  object-fit: cover;
  margin-right: 1rem;
}

/* Donate Banner */

.donate-banner {
  width: 32%;
  height: 200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
