@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --light-paragraph: #ffffff;
  --dark-paragraph: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Open Sans", sans-serif;
  color: #36393b;
  position: relative;
  background: url("../images/nature.jpg");
  background-size: cover;
  background-position: center;
}

body:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000c3a;
  opacity: 0.8;
  z-index: -1;
}

h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

p {
  font-size: 14px;
  color: var(--dark-paragraph);
}

/* Topbar */

.topbar {
  padding: 1rem 2rem;
  background: #545cd8;
}

.logo {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 255px 1fr;
}

/* Left Sidebar */

.left-sidebar {
  min-height: 100% !important;
  color: var(--light-paragraph);
  padding: 2rem;
}

.left-sidebar ul {
  margin-top: 2rem;
}

.left-sidebar ul li {
  margin: 1rem 0;
  font-size: 0.9rem;
}

/* World data (left sidebar) */

.world-logo {
  text-align: center;
  margin-bottom: 1.6rem;
}

.world-logo img {
  width: 80px;
}

.world-data-details {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.3rem;
  cursor: default;
}

.world-data-details i {
  font-size: 1.5rem;
}

.world-data-details p {
  font-weight: 500;
  color: #ececec;
}

.world-data-details span {
  color: #ececec;
}

/* Right sidebar */

.main-content {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  column-gap: 2rem;
  row-gap: 3rem;
  margin-top: -17rem;
}

.right-sidebar {
  width: 100%;
  min-height: 100vh;
  background: #eff2f7;
}

.top-right-sidebar {
  width: 100%;
  height: 350px;
  background: linear-gradient(
    90deg,
    rgba(39, 210, 138, 1) 0%,
    rgba(45, 206, 203, 1) 100%
  );
  padding: 2rem;
  color: #fff;
}

/* Line graph */

.line-graph {
  position: relative;
  width: 100%;
  height: 360px;
  background: #172b4d;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.line-graph-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 1rem 2rem;
}

.app-graph {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 300px;
}

/* Infobox Stats */

.app-stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.infoBox {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoBox:hover {
  transform: translateY(-5px);
}

.infoBox h6 {
  font-weight: 500;
  font-size: 0.95rem;
  text-transform: uppercase;
  font-size: 12px;
  color: #8898aa;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.infoBox h3 {
  color: #32325d;
  font-weight: 600;
  font-size: 19px;
}

.infoBox-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.infoBox:nth-child(1) .infoBox-icon {
  background: linear-gradient(
    90deg,
    rgba(245, 58, 88, 1) 0%,
    rgba(251, 91, 55, 1) 100%
  );
}

.infoBox:nth-child(2) .infoBox-icon {
  background: linear-gradient(
    90deg,
    rgba(45, 206, 142, 1) 0%,
    rgba(45, 206, 199, 1) 100%
  );
}

.infoBox:nth-child(3) .infoBox-icon {
  background: linear-gradient(
    90deg,
    rgba(251, 108, 64, 1) 0%,
    rgba(251, 171, 64, 1) 100%
  );
}

.infoBox:nth-child(4) .infoBox-icon {
  background: linear-gradient(
    90deg,
    rgba(17, 200, 239, 1) 0%,
    rgba(12, 122, 241, 1) 100%
  );
}

.infoBox-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 0.5rem;
}

.infoBox-icon img {
  width: 60%;
}

.infoBox h3 {
  font-size: 1.4rem;
}

.infoBox h3 span {
  font-size: 13px;
  font-weight: 500;
}

.map {
  width: 64%;
  height: 400px;
  background: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.map .leaflet-container {
  height: 100%;
}

.info-flag img {
  width: 80px;
  border-radius: 5px;
}

.info-name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  margin-top: 5px;
}

.info-flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info-cases,
.info-recovered,
.info-deaths {
  font-size: 16px;
  margin-top: 5px;
}

.info-container {
  width: 150px;
}

/* Table */

.table-wrapper {
  width: 64%;
  background: #fff;
  padding: 2rem;
  margin-top: -7.5rem;
  border-radius: 5px;
}

.table-wrapper h5 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 1rem;
  color: #32325d;
}

.table-country {
  width: 100%;
  background: #fff;
  overflow: scroll;
  height: 450px !important;
  overflow-x: hidden;
  text-align: left;
}

.table-country tr {
  display: grid;
  grid-template-columns: 1fr 20% 20% 20%;
  align-items: center;
  padding: 1rem 0.5rem;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
}

.tr-1 {
  background: #f6f9fc;
}

.table-country tr th {
  color: #32325d !important;
  font-weight: 600;
}

.table-country tr td {
  color: #606266;
  font-weight: 400;
  font-size: 14px;
}

.table-country tr:hover {
  background: #f6f9fc;
}

.table-country-flag {
  display: flex;
  align-items: center;
  color: #606266 !important;
  font-weight: 600 !important;
  font-size: 13px !important;
}

.table-country img {
  width: 35px;
  margin-right: 1rem;
}

/* Donate Banner */

.donate {
  width: 32%;
  background: #172b4d;
  color: #fff;
  height: 370px;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.donate-thumbnail {
  width: 100%;
  height: 175px;
}

.donate-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.donate-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.donate h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.donate h3 {
  font-size: 1.3rem;
  margin-bottom: 1.7rem;
}

.donate-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-donate {
  background: #fff;
  color: #000000;
  text-decoration: none;
  padding: 0.5rem 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.btn-donate:hover {
  transform: translateY(-5px);
}
