@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --light-paragraph: #ffffff;
  --dark-paragraph: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  color: #36393b;
  position: relative;
  background-size: cover;
  background-position: center;
}

body:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  opacity: 1;
  z-index: -1;
}

h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

ul {
  list-style: none;
}

p {
  font-size: 14px;
  color: var(--dark-paragraph);
}

.logo {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 255px 1fr;
}

/* Left Sidebar */

.left-sidebar {
  height: 100%;
  color: var(--light-paragraph);
  padding: 2rem 1.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.left-sidebar ul {
  margin-top: 1rem;
}

.left-sidebar ul li {
  margin: 1rem 0;
  font-size: 0.9rem;
}

/* World data (left sidebar) */

.world-logo {
  text-align: center;
  margin-bottom: 2rem;
}

.world-logo img {
  width: 80px;
}

.world-data-details {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: default;
}

.world-data-details div:nth-child(odd) {
  margin-right: 1rem;
}

.world-data-details i {
  font-size: 19px;
}

.world-data-details:nth-child(1) i {
  color: #1290f0;
}
.world-data-details:nth-child(2) i {
  color: #ff932d;
}
.world-data-details:nth-child(3) i {
  color: #1ef12f;
}
.world-data-details:nth-child(4) i {
  color: #13d0e9;
}
.world-data-details:nth-child(5) i {
  color: #ecf008;
}
.world-data-details:nth-child(6) i {
  color: #ffa32a;
}
.world-data-details:nth-child(7) i {
  color: #f534db;
}
.world-data-details:nth-child(8) i {
  color: #f83576;
}
.world-data-details:nth-child(9) i {
  color: #1290f0;
}
.world-data-details:nth-child(10) i {
  color: #52f729;
}
.world-data-details:nth-child(11) i {
  color: #2af0b5;
}
.world-data-details:nth-child(12) i {
  color: #f87d2b;
}
.world-data-details:nth-child(13) i {
  color: #fc3175;
}
.world-data-details:nth-child(14) i {
  color: #ebdb03;
}

.world-data-details p {
  color: #606266;
  font-weight: 600;
  font-size: 14px;
}

.world-data-details span {
  color: #525f7f;
  font-weight: 400;
  font-size: 14px;
}

.world-data-details:hover p,
.world-data-details:hover span {
  color: #32325d;
}

/* Right sidebar */

.right-sidebar {
  width: 100%;
  min-height: 100vh;
  background: #f8f9fe;
}

.top-right-sidebar {
  width: 100%;
  height: 350px;
  background: linear-gradient(
    90deg,
    rgba(39, 210, 138, 1) 0%,
    rgba(45, 206, 203, 1) 100%
  );
  padding: 2.5rem;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .top-right-sidebar {
    padding: 1.5rem;
  }
}

.main-title {
  margin-bottom: 5rem;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5rem;
  margin-top: -6rem;
}

.main-title {
  color: #fff;
  text-transform: uppercase;
}

/* Line graph */

.line-graph {
  position: relative;
  width: 100%;
  height: 360px;
  background: #172b4d;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
}

.line-graph-title {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin: 1rem 2rem;
}

.line-graph-title::first-letter {
  text-transform: capitalize;
}

.app-graph {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 300px;
}

/* Infobox Stats */

.app-stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.infoBox {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1.2rem 1.5rem;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoBox:hover {
  transform: translateY(-5px);
}

.infoBox h6 {
  font-weight: 500;
  font-size: 0.95rem;
  text-transform: uppercase;
  font-size: 12px;
  color: #8898aa;
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.infoBox h3 {
  color: #32325d;
  font-weight: 600;
  font-size: 16px;
}

.infoBox-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.infoBox:nth-child(1) .infoBox-icon {
  background: linear-gradient(
    90deg,
    rgba(245, 58, 88, 1) 0%,
    rgba(251, 91, 55, 1) 100%
  );
}

.infoBox:nth-child(2) .infoBox-icon {
  background: linear-gradient(
    90deg,
    rgba(45, 206, 142, 1) 0%,
    rgba(45, 206, 199, 1) 100%
  );
}

.infoBox:nth-child(3) .infoBox-icon {
  background: linear-gradient(
    90deg,
    rgba(251, 108, 64, 1) 0%,
    rgba(251, 171, 64, 1) 100%
  );
}

.infoBox:nth-child(4) .infoBox-icon {
  background: linear-gradient(
    90deg,
    rgba(17, 200, 239, 1) 0%,
    rgba(12, 122, 241, 1) 100%
  );
}

.infoBox-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-left: 0.5rem;
}

.infoBox-icon img {
  width: 60%;
}

.infoBox h3 {
  font-size: 1.4rem;
}

.infoBox h3 span {
  font-size: 13px;
  font-weight: 500;
}

/* Donate Banner */

.donate {
  width: 32%;
  background: #fff;
  height: 370px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
  margin-bottom: 3rem;
}

.donate-thumbnail {
  width: 100%;
  height: 175px;
}

.donate-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.donate-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: #32325d;
}

.donate h5 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.donate h3 {
  font-size: 1.3rem;
  margin-bottom: 1.7rem;
}

.donate-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn-donate {
  background: #5e72e4;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1.3rem;
  font-weight: 500;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.btn-donate:hover {
  transform: translateY(-5px);
}

/* Footer */

footer {
  font-size: 14px;
  margin-top: 4rem;
  color: #8898aa;
}

footer a {
  color: #1290f0;
  text-decoration: none;
  font-weight: 600;
}

/* Topbar */
.topbar {
  display: none;
}
