.country-details {
  width: 32% !important;
  text-align: center;
  padding: 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
}

.country-details-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.cd-last {
  margin-bottom: 1.5rem;
}

.country-details-control span {
  font-size: 1rem;
}

.country-details-control span:nth-child(1) {
  font-weight: 500;
}

.country-details-flag {
  width: 100%;
  height: 190px;
  margin-bottom: 1.4rem;
}

.country-details-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
