.country-details {
  width: 32%;
  text-align: center;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  background: #fff;
  border-radius: 5px;
  margin: 3rem 0;
}

.country-details-control {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}

.cd-last {
  margin-bottom: 1.5rem;
}

.country-details-control span {
  font-size: 14px;
  font-weight: 600;
  color: #32325d;
}

.country-details-control span:nth-child(2) {
  font-weight: 400;
  color: #606266;
}

.country-details-flag {
  width: 100%;
  height: 190px;
  margin-bottom: 1.4rem;
}

.country-details-flag img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Select Country Form */

.select-country {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23ffffff;" /></svg>');
  font-family: "Open Sans", sans-serif;
  /* border: 1px solid #32325d; */
  border: none;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  padding: 12px;
  cursor: pointer;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  font-size: 13px;
  background-color: #5e72e4;
  width: 150px;
}

.select-country option {
  background: #7487f1;
  padding: 1rem 0;
  color: #fff;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
