/* .infoBox--selected {
  border-top: 5px solid;
}

.infoBox--selected.isRed {
  border-color: rgb(255, 59, 59) !important;
}
.infoBox--selected.isGreen {
  border-color: rgb(60, 255, 77) !important;
}
.infoBox--selected.isBlue {
  border-color: rgb(77, 46, 255) !important;
}
.infoBox--selected.isOrange {
  border-color: rgb(255, 146, 44) !important;
}

.infoBox:nth-child(4) {
  cursor: default;
} */
