.infoBox--selected {
  border-top: 3px solid;
}

.infoBox--selected.isRed {
  border-color: rgb(253, 78, 107) !important;
}
.infoBox--selected.isGreen {
  border-color: rgba(45, 206, 142, 1) !important;
}
.infoBox--selected.isBlue {
  border-color: rgba(12, 122, 241, 1) !important;
}
.infoBox--selected.isOrange {
  border-color: rgba(251, 108, 64, 1) !important;
}

.infoBox:nth-child(4) {
  cursor: default;
}
